# Main database
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=devdb
SSL_MODE=disable

# Test database
TEST_DB_HOST=localhost
TEST_DB_PORT=5433
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=testdb
TEST_SSL_MODE=disable
